* {
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('https://i.postimg.cc/Qdn3mVPj/job-tracking-bg.webp');
  background-size: cover;
}

.dashboard {
  padding: 5px;
  max-width: 1100px;
  margin: auto;
}
